*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}
header{
    height: 20%;
}
#banner{
    
    height: 40%;
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    background-size: contain;
    
}
#banner img{
    width: 12%;
    margin-top: 35px;
    margin-left: 280px;
}
#title{
    margin-top: 10px;
}
#firma{
    color: gray;
}
#firma span{
    color: #31afe7;
}
#date{
    color: grey;
    font-size: 12px;
}
.images{
    margin-top: 20px;
    font-size: 12px;
}
.lorems{
    margin-top: 20px;
}
ul{
    margin-top: 30px;
    margin-left: 20px;
}
table{
    margin-top: 30px;
    width: 100%;
    text-align: left;
    border-spacing: 0;
}
thead{
    background-color: #20a9e5;
    color: white;   
}
.blue{
    background-color: #B1e5f2;
}
.right{
   max-width: 300px; 
}
.yellow{
    background-color: yellow;
}
footer{
    margin-top: 30px;
}
footer div{
    font-weight: bold;
    color: grey;
}
.consigliato{
   margin-top: 10px;
   padding: 10px;
    color: white;
    background-image: url(../img/monitor.jpg);
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
}
.monitor{
    
}
.graph{
    background-image: url(../img/graph.jpg);
}